@import "../../app.scss";

.contact {
  height: 100%;
  max-width: 1366px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;
  padding-left: 2em;

  @include mobile {
    width: 100%;
    padding: 10px;
    flex-direction: column;
    scroll-snap-type: none;
    scroll-snap-align: none;
  }

  @include tablet {
    width: 100%;
    padding: 20px;
    flex-direction: column;
    scroll-snap-type: none;
    scroll-snap-align: none;
  }

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include mobile {
      gap: 20px;
      text-align: center;
      align-items: center;
      margin-top: 70px;
    }

    @include tablet {
      gap: 20px;
      text-align: center;
      align-items: center;
      margin-top: 70px;
    }

    h1 {
      font-size: 100px;
      line-height: 88px;

      @include mobile {
        font-size: 36px;
        line-height: 50px;
      }

      @include tablet {
        font-size: 60px;
      }
    }

    span {
      font-weight: 300;
    }
  }

  .formContainer {
    flex: 1;
    position: relative;
    @include desktop {
      padding-right: 2em;
    }

    @include mobile {
      padding: 10px;
      width: 100%;
    }

    @include tablet {
      padding: 30px;
      width: 100%;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      input,
      textarea {
        padding: 20px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        border-radius: 5px;

        @include mobile {
          padding: 10px;
        }
      }

      button {
        padding: 20px;
        border: none;
        background-color: #c766bb;
        cursor: pointer;
        font-weight: 500;

        @include mobile {
          padding: 10px;
        }
      }
    }
  }
}
